soap/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xs:element name="UserReq">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string"/>
          </xs:sequence>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="surname" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UserRes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="result" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UserReq"/>
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UserRes"/>
  </wsdl:message>

  <wsdl:portType name="CreateUserSoapPort">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn"/>
      <wsdl:output message="tns:CreateUserSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CreateUserServiceSoapBinding" type="tns:CreateUserSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="CreateUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="CreateUserServiceSoap12Binding" type="tns:CreateUserSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="CreateUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CreateUserService">
    <wsdl:port name="CreateUserServiceSoapPort" binding="tns:CreateUserServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="CreateUserServiceSoap12Port" binding="tns:CreateUserServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>